.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(235, 235, 235, 0.3);
  border-radius: 50%;
  border-top-color: #444;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
